name: flutter_post_frame
description: "A lightweight Flutter package that provides utilities to execute callbacks after the first frame is rendered. Perfect for getting widget sizes or performing post-build operations."
version: 0.0.2
homepage: https://github.com/sujithsdeveloper/flutter_post_frame
repository: https://github.com/sujithsdeveloper/flutter_post_frame.git
issue_tracker: https://github.com/sujithsdeveloper/flutter_post_frame/issues

platforms:
  android:
  ios:
  linux:
  macos:
  web:
  windows:

environment:
  sdk: ^3.10.1
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0





flutter:

  
  
  
  
  
  
  
  
  
  

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
